
.footer-class {
    background-color: #000000;
    padding-top: 1rem;
    .collapse {
        margin-bottom: 1rem;
    }
    form {
        padding: 0rem 4rem 1rem 2.5rem;
        .form-floating {
            .form-control {
                background-color: #4d4d4d5d;
            }
            color: #a1a1a1;
        }
        button {
            background-color: #e07e27;
            text-transform: uppercase;
            width: 6rem;
        }
        .escribinos {
            height: 150px;
        }
    }
    .contactfollow {
        color: #a1a1a1;
        h3 {
            font-weight: 100;
            text-transform: uppercase;
        }
        hr {
            background-color: #f4f4f4;
            height: 1px;
            width: 90%;
        }
        button {
            background-color:#f4f4f4;
            color: #0000009f;
            margin-left: .5rem;
            text-transform: uppercase;
            width: 8rem;
        }

        .follow {
            padding: 1rem;
            .flexcontainer {
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    list-style: none;
                    a {
                        color: #a1a1a1;
                        display: block;
                        font-size: 1.5rem;
                        margin:0rem .5rem;
                    }
                    .lnicon:hover {
                        color:#0c9ec7;
                    }
                    .fbicon:hover {
                        color: #23527c;
                    }
                    .twicon:hover {
                        color: #09afdf;
                    }
                }
            }
        }
    }

}
aside{ 
    color: #a1a1a1;
    background-color: #000000;
    height: 5rem;
    padding-top: 2rem;
}
