
<!-- 
<div class="container-fluid footer-class">
  <footer class="row">
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.033848379931!2d-58.39169628477033!3d-34.60330558045954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac1377dd36d%3A0x1dbe12bfdf7beba5!2sMontevideo%20496%2C%20C1019%20ABJ%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1614802112426!5m2!1ses-419!2sar" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy"></iframe>    
      </div>
    </div>
    <div class="col-lg-9">
      <form>
        <div class="form-floating mb-3">
            <input class="form-control" id="floatingInput" type="text" placeholder="Nombre y Apellido"/>
            <label htmlFor="floatingInput">Nombre y Apellido</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="floatingInput" type="email" placeholder="email@ejemplo.com"/>
            <label htmlFor="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="floatingInput" type="text" placeholder="Asunto"/>
            <label htmlFor="floatingInput">Asunto</label>
        </div>
        <div class="textarea form-floating mb-3">
            <textarea class="escribinos form-control" id="floatingInput" type="text-area" placeholder="Escribinos"></textarea>
            <label htmlFor="floatingInput">Mensaje...</label>
        </div>
        <button class="btn btn-primary" >
            Enviar
        </button>
    </form>
    </div>
    <div class="col contactfollow col-lg-3">
      <div class="row contact">
        <h3>Oficinas</h3>
        <hr>
        <p><fa-icon [icon]="faMapMarkerAlt"></fa-icon> Montevideo 496 piso 2 of. 25/26</p>
        <p> (C1019ABJ) Bs. As. - Argentina</p>
        <p><fa-icon [icon]="faPhoneSquareAlt"></fa-icon> +54 11 5252.3354</p>
        <p><fa-icon [icon]="faEnvelope"></fa-icon> info@factorit.com.ar</p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Ver mapa + 
        </button>
      </div>
      <div class="row follow">
        <h3>Seguinos en</h3>
        <hr>
        <div class="flexcontainer">
          <ul>
            <li> 
              <a href="https://www.facebook.com/factorit.com.ar" 
              target="_blank" rel="noopener noreferrer" 
              class="fbicon">
                <fa-icon  [icon]="faFacebook"></fa-icon>
              </a>
            </li>
            <li> 
              <a href="https://twitter.com/factorit" 
              target="_blank" rel="noopener noreferrer" 
              class="twicon">
                <fa-icon [icon]="faTwitter"></fa-icon>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/factor-it/" 
              target="_blank" 
              rel="noopener noreferrer" 
              class="lnicon">
                <fa-icon [icon]="faLinkedinIn"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
-->
<aside class="container-fluid text-center">
    <p>© FACTOR IT - Todos los derechos reservados - 2019</p>
</aside>