<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="container">
      <a routerLink="/home" routerLinkActive="active">
        <img src="/assets/img/factoritlogo.svg" alt="Logo Factor It" >
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"
          aria-current="page" routerLink="/home" routerLinkActive="active"><fa-icon [icon]="fahouse"></fa-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"><fa-icon [icon]="fauser"></fa-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active"><fa-icon [icon]="faexit"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
