<div>
  <h1 class="alert alert-primary mt-3" role="alert">Control de horas</h1>
  <div class="row mb-3">
      <div class="form-group col-12">
          <div class="input-group">
              <input class="form-control form-control-sm"
              type="text"
              aria-label=".form-control-sm example"
              placeholder="Collaborator"
              >
          </div>
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-3">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Amount hours</option>
            <option value="1"> Total hours </option>
            <option value="2"> Hours not charged </option>
            <option value="3"> Free hours </option>
          </select>
      </div>
      <div class="col-3">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Week</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          <option value="4">Four</option>
          <option value="5">Five</option>
        </select>
      </div>
      <div class="col-3">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Month</option>
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">November</option>
          <option value="11">October</option>
          <option value="12">Deccember</option>
        </select>
      </div>
      <div class="col-3">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Years</option>
          <option value="1">2021</option>
          <option value="2">2020</option>
          <option value="3">2019</option>
        </select>
      </div>
    </div>
    <div>
      <table class="table table-xl table-dark table-bordered table-hover mb-3">
          <thead>
            <tr>
              <th scope="col">Collaborators Name</th>
              <th scope="col">Hours</th>
              <th scope="col">28-Feb / 6-Mar</th>
              <th scope="col">7-Mar / 13-Mar</th>
              <th scope="col">14-Mar / 20-Mar</th>
              <th scope="col">21-Mar / 27-Mar</th>
              <th scope="col">28-Mar / 3-Abr</th>
            </tr>
          </thead>
          <tbody class="table-primary">
            <tr *ngFor="let collaborator of collaborators">
                <th >{{collaborator.name}}</th>
                <th >{{collaborator.hours}}</th>
                <th class="table-danger">{{collaborator.weekone}}</th>
                <th class="table-danger">{{collaborator.weektwo}}</th>
                <th class="table-danger">{{collaborator.weekthree}}</th>
                <th class="table-danger">{{collaborator.weekfour}}</th>
                <th class="table-danger">{{collaborator.weekfive}}</th>
            </tr>
          </tbody>
      </table>
    </div>
</div>
