<section>
    <h1 class="alert alert-warning mt-3">Sistema de administración Factor IT</h1>
    <div class="container-fluid">
      <div class="alert alert-success row welcome" role="alert">
        <div class="col-2">
          <img src="/assets/img/53571.jpg" class="card-img-left" alt="usercard">
        </div>
        <div class="col-10">
          <h4 class="alert-heading">Bienvenido, {{username}}!</h4>
          <p>Este es el nuevo sistema de administración de Factor IT.</p>
          <hr>
          <p class="mb-0">Desde aquí puedes configurar todo tu perfil y controlar la carga de horas.</p>
        </div>
      </div>
    </div>
    <div class="controlgrid mt-0">
        <h2 class="alert alert-primary">Panel de control</h2>
        <div class="row">
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><fa-icon [icon]="faClock"></fa-icon> Control de horas</h5>
                <p class="card-text">Desde aquí podrás controlar la carga de horas.</p>
                <button class="btn btn-primary col-12" routerLink="/schedule" routerLinkActive="active"> Controlar</button>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><fa-icon [icon]="faTools"></fa-icon> Control de feriados</h5>
                <p class="card-text">Desde aquí podrás ver/cargar los días no laborables.</p>
                <a href="#" class="btn btn-primary col-12"> Controlar</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><fa-icon [icon]="faEnvelope"></fa-icon> Mensajes</h5>
                <p class="card-text">Desde aquí podrás ver los anuncios y mensajes importantes.</p>
                <a href="#" class="btn btn-primary col-12"> Ver</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><fa-icon [icon]="faCogs"></fa-icon> Configuración</h5>
                <p class="card-text">Desde aquí podrás cambiar la configuración del sistema.</p>
                <a href="#" class="btn btn-primary col-12"> Configurar</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
