section {
    .welcome {
        margin-top: 1rem;
        h4 {
            font-size: 3rem;
            margin-left: 1rem;
        }
        p {
            margin-left: 1rem;
            font-size: 1.5rem;
        }
        img {
        width: 200px;
        }
    }
    .controlgrid {
        margin-top: 4rem;
        height: 500px;
        h2 {
            font-size: 3rem;
            text-transform: uppercase;
        }
        ul {
            margin-top: 4rem;
            list-style: none;
            li {
                display: inline;
                font-size: 2rem;
                color: #4b4747d7;
                margin: 1rem;
                padding: .5rem;
            }
        }
    }
}